@media (prefers-reduced-motion:no-preference){
    *{
        scroll-behavior: smooth;
    }
}
body {
    background: #f7f7f5;
    color: #1b1b32;
    font-family: "Libre Franklin", serif;
    margin: 0;
  }
#main-doc{
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}
h1{
    font-style: normal;
}
section article {
    color: #4d4e53;
    margin: 15px;
    font-size: 0.96em;
}
  code {
    display: block;
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #e4e4e4;
    padding: 1.5px;
    font-size: 1rem;
    border-radius: 5%;
  }